[submodule ".emacs.d/site-lisp/gist"]
	path = .emacs.d/site-lisp/gist
	url = git://github.com/defunkt/gist.el.git
[submodule ".global_ignore"]
	path = .global_ignore
	url = https://github.com/github/gitignore
